#banner
	.banner_content
		%h1 NoteNote
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit."
		%p.name - George Hill

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut dolorum, enim porro velit possimus doloribus minima, necessitatibus atque vero impedit voluptatum, amet similique deleniti ullam reiciendis modi, voluptates voluptatem.
			.callout
				%h2 Notes
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut dolorum, enim porro velit possimus doloribus minima, necessitatibus atque vero impedit voluptatum, amet similique deleniti ullam reiciendis modi, voluptates voluptatem.
			.callout
				%h2 Notes
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut dolorum, enim porro velit possimus doloribus minima, necessitatibus atque vero impedit voluptatum, amet similique deleniti ullam reiciendis modi, voluptates voluptatem.

#bottom_cta
	.wrapper
		%h2 Okay
		%p % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate qui, a, cumque, laborum ipsum neque in expedita id suscipit.
		%button OKAY

%footer
	%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia corporis, ea natus optio. Illo nihil dolorem libero, adipisci ex fugit vel corporis, quod accusamus laudantium perspiciatis sit illum, tempora modi.